.productCardContainer{
    width: 200px;
    height: 325px;
    margin: 5px;
    @include flex(column, flex-end, flex-start);
    background-color: $light;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    .top{
        width: 100%;
        height: 100%;
        overflow: hidden;
        @include flex(column, flex-end, flex-start);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .text{
            width: 100%;
            @include flex(column, flex-start, flex-start);
            padding: 10px;
            .productTitle{
                font-size: 1.4rem;
                font-weight: bold;
                color:$dark;
            }
            .productBrand{
                font-size: 1.4rem;
                color: $darkgrey;
            }
            .productPrice{
                padding-top: 10px;
                font-size: 1.4rem;
                color:$dark;
            }
        }
    }
    .bottom{
        width: 100%;
        height: 50px;
        @include flex(row, space-evenly, center);
    }
    &:hover{
        box-shadow: 0px 0px 5px $accent1, 0px 0px 50px $accent1;
        transition: transform 0.2s ease;
        transform: scale(1.02);
    }
}