.modalProductDetailContent{
    width: 100%;
    height: 80vh;
    padding: 25px 50px 25px 50px;
    overflow-y: auto;
    @include flex(column, flex-start, center);
    &::-webkit-scrollbar-track{
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: rgba(245, 245, 245, 0);
    }
    &::-webkit-scrollbar{
        width: 8px;
        background-color: rgba(245, 245, 245, 0);
    }
    &::-webkit-scrollbar-thumb{
        background-color: #00000054;
        // border: 2px solid #55555541;
        border-radius: 4px;
    }
    .detailTopContainer{
        width: 100%;
        @include flex(row, center, flex-start);
        .imageContainer{
            width: 40%;
            .selectedImageContainer{
                width: 100%;
                padding-top: 100%;
                overflow: hidden;
                position: relative;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .listImageContainer{
                margin-top: 15px;
                width: 100%;
                @include flex(row, flex-start, flex-start);
                flex-wrap: wrap;
                div{
                    padding: 5px;
                    width: 25%;
                    padding-top: 25%;
                    overflow: hidden;
                    position: relative;
                    img{
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .dataContainer{
            width: 60%;
            padding: 0 50px 0 50px;
            h1{
                padding: 5px 0;
                font-size: 3.6rem;
            }
            .additional{
                padding: 10px 0 40px 0;
                @include flex(row, flex-start, flex-start);
                div{
                    @include flex(row, flex-start, center);
                    padding-right: 15px;
                    p{
                        padding: 0 10px 0 5px;
                    }
                }
            }
            .dataWrapper{
                padding: 15px 0;
                border-bottom: 1px solid $lightgrey;
                .dataLabel{
                    font-weight: bold;
                    padding-bottom: 10px;
                }
                .dataPrice{
                    color: $accent1;
                    font-size: 4.2rem;
                }
                .dataInfo{
                    div p{
                        padding-bottom: 5px;
                    }
                    div h3{
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
    .detailBottomContainer{
        margin-top: 50px;
        align-self: flex-start;
        h3{
            padding-bottom: 15px;
        }
        p{
            font-size: 1.4rem;
        }
    }
}
.btnDetailContainer{
    .btnAddToWishlist{
        border: none;
        color: $dark;
        font-weight: 300;
        font-size: 1.4rem;
        padding: 7px 21px;
        &:hover{
            background: none;
            color: $accent2;
        }
    }
    .btnAddToCart{
        background-color: $accent1;
        border: 1px solid $accent1;
        color: $light;
        font-weight: 300;
        font-size: 1.4rem;
        padding: 7px 21px;
        &:hover{
            background-color: $dark;
            border: 1px solid $dark;
            color: $light;
        }
    }
}