.footerContainer{
    @include flex(row, center, center);
    width: 100%;
    position: absolute;
    bottom: 0;
    .wrapper{
        max-width: 1920px;
        width: 100%;
        .socialContainer{
            @include flex(row, center,center);
            margin-bottom: 2vh;
            .iconWrap{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $dark;
                color: $light;
                position: relative;
                margin: 0 10px;
                @include flex(row, center,center);
                transition: all 0.4s ease;
                &:hover{
                    background-color: $accent1;
                    width: 42px;
                    height: 42px;
                    font-size: 1.8rem;
                }
            }
        }
        .linksContainer{
            @include flex(row, space-around,center);
            width: 100%;
            margin: auto;
            position: relative;
            ul{
                @include flex(row, center,center);
                list-style: none;
                width: 50%;
                li{
                    font-size: 1.2rem;
                    padding: 0 5px;
                    margin: 0 5%;
                    @include flex(row, center, center);
                    a{
                        color: $light;
                        transition: all 0.4s ease;
                        &:hover{
                            letter-spacing: 0.5rem;
                        }
                    }
                }
            }
            &::after{
                content: '';
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                width: 80%;
                position: absolute;
                bottom: 0;
            }
        }
        .copyrightsContainer{
            font-size: 12px;
            padding-top: 1vh;
            padding-bottom: 2vh;
            text-align: center;
            color: $light;
            // background-color: rgba(255, 255, 255, 0.2);
        }
    }
    
}