$black: black;
$dark : #222;
$darkgrey : rgb(44, 44, 44);
$darkgrey2 : rgb(56, 56, 56);
$dimgrey : dimgrey;
$lightgrey: lightgrey;
$lightgrey2: #CECECE;
$light: white;
$accent1: darkviolet;
$accent2: lightcoral;

$tableBorderHover: rgb(219, 219, 219);
$tableBackgroundHover: rgb(240, 240, 240);

@mixin flex($direction,$justifyContent,$alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
};