@import './Variables';
@import './Component_Navbar';
@import './Component_Footer';
@import './Component_ModalProductDetail';
@import './Component_ModalTransactionSuccess';
@import './Page_ManageTransaction';
@import './Page_ManageProduct';
@import './Page_ManageBrandAndCategory';
@import './Page_ManageUser';
@import './Page_Home';
@import './Page_Login';
@import './Page_Register';
@import './Page_Verification';
@import './Page_Store';
@import './Page_UserDashboard';
@import './Page_Info';
@import './Component_CategoryBox';
@import './Component_BrowseProduct';
@import './Component_ProductCard';

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.main{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: $dark;
    overflow: hidden;
}

tbody tr{
    transition: all 0.15s ease-in-out;
    border: 1px solid transparent;
    &:hover{
        background-color: $tableBackgroundHover;
        border: 1px solid $tableBorderHover;
    }
}

::-webkit-scrollbar{
    width: 0;
}