@mixin flex($direction,$justifyContent,$alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
};


.main{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

@import './Component_Loading';
@import './Component_Navbar';
@import './Component_Footer';
@import './Page_Home';
@import './Page_Login';